                <!-- Coupon Accordion -->
                {{!-- <div class="accordion" id="coupon-accordion">
                    <div class="card col-sm-9 col-md-9 col-lg-9 ">
                        <div class="card-header" id="headingCoupon">
                            <h2 class="card-title">
                                <a role="button" data-toggle="collapse" href="#collapseCoupon" aria-expanded="true" aria-controls="collapseCoupon">
                                   Click here to select your coupon
                                </a>
                            </h2>
                        </div><!-- End .card-header -->

                        <div id="collapseCoupon" class="collapse " aria-labelledby="headingCoupon" data-parent="#coupon-accordion">
                            <div class="card-body">
                                <!-- Radio buttons for coupon selection -->
                                <div class="form-group">
                                    {{#each coupon}}
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="couponSAVE10" name="couponOption" class="custom-control-input">
                                        <label class="custom-control-label" for="couponSAVE10">
                                            <strong>{{this.code}} </strong><br>
                                            {{this.description}}
                                        </label>
                                    </div>
                                    {{/each}}
                                </div><!-- End .form-group -->
                            </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .card -->
                </div> --}}

                