
    <div class="page-wrapper">
{{>allPageHeader}}
        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Login</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('assets/images/backgrounds/login-bg.jpg')">
            	<div class="container">
            		<div class="form-box">
            			<div class="form-tab">
	            			<ul class="nav nav-pills nav-fill" role="tablist">
							    <li class="nav-item">
							        <a class="nav-link active" id="signin-tab-2" data-toggle="tab" href="#signin-2" role="tab" aria-controls="signin-2" aria-selected="true">Sign In</a>
							    </li>
							</ul>
							<div class="tab-content">

            {{#if errorMsg}}
            <div class="alert alert-danger h-2 mt-3" role="alert">
                {{errorMsg}}
            </div>
            {{/if}}

							    <div class="tab-pane fade show active" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2">
							    	<form action="/login" method="post">
							    		<div class="form-group">
							    			<label for="singin-email-2">Username or email address *</label>
							    			<input type="text" class="form-control" id="singin-email-2" name="email" required>
							    		</div><!-- End .form-group -->

							    		<div class="form-group">
							    			<label for="singin-password-2">Password *</label>
							    			<input type="password" class="form-control" id="singin-password-2" name="password" required>
							    		</div><!-- End .form-group -->

											<div class="form-footer">
												<button type="submit" class="btn btn-outline-primary-2">
													<span>LOG IN</span>
													<i class="icon-long-arrow-right"></i>
												</button>
											
												{{!-- <div class="custom-control custom-checkbox">
													<input type="checkbox" class="custom-control-input" id="signin-remember-2">
													<label class="custom-control-label" for="signin-remember-2">Remember Me</label>
												</div><!-- End .custom-checkbox --> --}}
											
												<a href="#" class="forgot-link" data-toggle="modal" data-target="#forgotPasswordModal">Forgot Your Password?</a>
											</div><!-- End .form-footer -->
							    	</form>
							    	<div class="form-choice">
								    	{{!-- <p class="text-center">or sign in with</p>
								    	<div class="row">
								    		<div class="col-sm-6">
								    			<a href="#" class="btn btn-login btn-g">
								    				<i class="icon-google"></i>
								    				Login With Google
								    			</a>
								    		</div><!-- End .col-6 -->
								    		<div class="col-sm-6">
								    			<a href="#" class="btn btn-login btn-f">
								    				<i class="icon-facebook-f"></i>
								    				Login With Facebook
								    			</a>
								    		</div><!-- End .col-6 -->
								    	</div><!-- End .row --> --}}
							        <p class="text-center mt-3">Don't have an Account?<a href="/register"> Sign Up</a></p>	
							    	</div><!-- End .form-choice -->
							    </div><!-- .End .tab-pane -->
							</div><!-- End .tab-content -->
						</div><!-- End .form-tab -->
            		</div><!-- End .form-box -->
            	</div><!-- End .container -->
            </div><!-- End .login-page section-bg -->

<!-- Forgot Password Modal -->
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-white">
        <h5 class="modal-title " id="forgotPasswordModalLabel">Forgot Password</h5>
        <button type="button" class="close " data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding: 20px 20px;">
        <form id="forgot-password-form">
          <div class="form-group">
            <label for="email">Enter your email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="your-email@example.com" required>
          </div>

          <div id="forgot-password-messages"></div> <!-- Place for success/error messages -->

          <div class="text-center">
            <button type="submit" class="btn btn-primary btn-block mt-3" style="max-width: 200px; margin: 0 auto;">SUBMIT</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


						
        </main><!-- End .main -->

{{>allPageFooter}}

    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

{{>mobileView}}


<script>
  document.addEventListener('DOMContentLoaded', function () {
    const forgotPasswordForm = document.getElementById('forgot-password-form');
    
    forgotPasswordForm.addEventListener('submit', async function (e) {
      e.preventDefault(); // Prevent the default form submission

      const emailInput = document.getElementById('email');
      const email = emailInput.value;

      const messagesDiv = document.getElementById('forgot-password-messages');
      messagesDiv.innerHTML = ''; // Clear previous messages

      try {
        // Make the fetch request to send the email
        const response = await fetch('/forgot-password', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ email })
        });

        // Handle response
        const result = await response.json();

        if (response.ok) {
          // Success message
          messagesDiv.innerHTML = `<p class="text-success">${result.successMsg}</p>`;
        } else {
          // Error message from the server
          messagesDiv.innerHTML = `<p class="text-danger">${result.errorMsg || 'Error sending reset email.'}</p>`;
        }
      } catch (error) {
        // Handle network or fetch request errors
        messagesDiv.innerHTML = '<p class="text-danger">An unexpected error occurred. Please try again later.</p>';
      }
    });
  });
</script>



