
    <div class="page-wrapper">
{{>allPageHeader}}
        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Login</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('assets/images/backgrounds/login-bg.jpg')">
            	<div class="container">
            		<div class="form-box">
            			<div class="form-tab">
	            			<ul class="nav nav-pills nav-fill" role="tablist">
							    {{!-- <li class="nav-item">
							        <a class="nav-link" id="signin-tab-2" data-toggle="tab" href="#signin-2" role="tab" aria-controls="signin-2" aria-selected="false">Sign In</a>
							    </li> --}}
							    <li class="nav-item">
							        <a class="nav-link active" id="register-tab-2" data-toggle="tab" href="#register-2" role="tab" aria-controls="register-2" aria-selected="true">Sign Up</a>
							    </li>
							</ul>
							<div class="tab-content">

            {{#if errorMsg}}
            <div class="alert alert-danger h-2 mt-3" role="alert">
                {{errorMsg}}
            </div>
            {{/if}}

							    <div class="tab-pane fade show active" id="register-2" role="tabpanel" aria-labelledby="register-tab-2">
							    	<form action="/register" method="post">
							    		<div class="form-group">
							    			<label for="register-name-2" >Username</label>
							    			<input type="text" class="form-control" id="register-name-2"  name="name">
							    		</div><!-- End .form-group -->

							    		<div class="form-group">
							    			<label for="register-email-2">Email </label>
							    			<input type="email" class="form-control" id="register-email-2" name="email">
							    		</div><!-- End .form-group -->

							    		<div class="form-group">
							    			<label for="register-phone-2">Phone </label>
							    			<input type="text" class="form-control" id="register-phone-2"  name="phone">
							    		</div><!-- End .form-group -->
											
							    		<div class="form-group">
							    			<label for="current-password-2">Password *</label>
							    			<input type="password" class="form-control" id="current-password-2" name="password">
							    		</div><!-- End .form-group -->

							    		<div class="form-footer d-flex justify-content-center">
							    			<button type="submit" class="btn btn-outline-primary-2">
			                					<span>SIGN UP</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>
{{!-- i removed=checkbox code and added div class to d-flex justify-content-center --}}
							    		</div><!-- End .form-footer -->
							    	</form>
							    	<div class="form-choice">
								    	<p class="text-center">or sign in with</p>
								    	<div class="row">
								    		<div class="col-sm-6">
								    			<a href="#" class="btn btn-login btn-g">
								    				<i class="icon-google"></i>
								    				Login With Google
								    			</a>
								    		</div><!-- End .col-6 -->
								    		<div class="col-sm-6">
								    			<a href="#" class="btn btn-login  btn-f">
								    				<i class="icon-facebook-f"></i>
								    				Login With Facebook
								    			</a>
								    		</div><!-- End .col-6 -->
								    	</div><!-- End .row -->
											<p class="text-center mt-3">Already have an Account?<a href="/login"> Sign In</a></p>	
							    	</div><!-- End .form-choice -->
							    </div><!-- .End .tab-pane -->
							</div><!-- End .tab-content -->
						</div><!-- End .form-tab -->
            		</div><!-- End .form-box -->
            	</div><!-- End .container -->
            </div><!-- End .login-page section-bg -->
        </main><!-- End .main -->

{{>allPageFooter}}

    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

{{>mobileView}}

